---
import user1 from "../images/user-thumb-one.jpg";
import user2 from "../images/user-thumb-two.jpg";
import user3 from "../images/user-thumb-three.jpg";
import user4 from "../images/user-thumb-four.jpg";
import user5 from "../images/user-thumb-five.jpg";
import user6 from "../images/user-thumb-six.jpg";
---














<section class="relative bgrando">
    <div class="block justify-center relative">
      <header class="flex flex-col mx-44 pt-32 pb-11">
        <h1 class="text-5xl font-extralight mb-7 colii">TESTIMONIOS</h1>
        <p class="font-extralight colo text-xl ">Lo que dicen los clientes sobre nuestros servicios..</p>
      </header>
      
      <div class="testimonio flex flex-col">
        <div class="trio flex justify-center ">
            <div class="card flex flex-col mr-8 t1 ">
                <div class="flex justify-start ">
                    <img class="mb-2" width="80px" height="70px" src={user1} alt="">
                    <div class="flex  flex-col m-5">
                         <h1 class="colii font-semibold">Simonns Hodge</h1>
                         <p class="parri">CEO, Credito</p>
                    </div>
                </div>
                <span class="flex parrafo font-extralight justify-center">
                  Confíe en nosotros, buscamos durante mucho tiempo y desperdiciamos miles de dólares probando a otros equipos, trabajadores independientes y empresas subcontratadas.
                      
                    </span>
            </div>
            <div class="card flex flex-col t2 mr-8">
              <div class="flex justify-start ">
                  <img class="mb-2" width="80px" height="70px" src={user2} alt="">
                  <div class="flex  flex-col m-5">
                       <h1 class="colii font-semibold">Rekon Montino</h1>
                       <p class="parri">CDO, Bulmuci</p>
                  </div>
              </div>
              <span class="flex parrafo font-extralight  justify-center">
                    
Los productos de Mixer nos han permitido brindar un mejor soporte a todos nuestros clientes. La agilidad con la que podemos implementar nuevas funciones y flujos de trabajo es un elemento clave.
                    
                  </span>
          </div>
          <div class="card flex flex-col t3  ">
            <div class="flex justify-start ">
                <img class="mb-2" width="80px" height="70px" src={user3} alt="">
                <div class="flex  flex-col m-5">
                     <h1 class="colii font-semibold">
                      Ryan Hillary</h1>
                     <p class="parri">MD, Udilamo</p>
                </div>
            </div>
            <span class="flex  parrafo font-extralight  justify-center">
              Somos un restaurante muy concurrido, y roxo les brinda a nuestros clientes una manera fácil de pedir, pagar y recoger su comida para que puedan evitar la fila y evitar el apuro del almuerzo.
                  
                </span>
        </div>
        </div>
        <div class="trio flex justify-center m-8 ">
          <div class="card flex flex-col  mr-8 t4">
              <div class="flex justify-start  ">
                  <img class="mb-2" width="80px" height="70px" src={user4} alt="">
                  <div class="flex  flex-col m-5">
                       <h1 class="colii font-semibold">Dockrel Kahn</h1>
                       <p class="parri"> PM, Walmet</p>
                  </div>
              </div>
              <span class="flex  parrafo font-extralight  justify-center">
                Confíe en nosotros, buscamos durante mucho tiempo y desperdiciamos miles de dólares probando a otros equipos, trabajadores independientes y empresas subcontratadas.
                    
                  </span>
          </div>
          <div class="card flex flex-col t5  mr-8">
            <div class="flex justify-start ">
                <img class="mb-2" width="80px" height="70px" src={user5} alt="">
                <div class="flex  flex-col m-5">
                     <h1 class="colii font-semibold">Simonns Hodge</h1>
                     <p class="parri">CEO, Credito</p>
                </div>
            </div>
            <span class="flex  parrafo font-extralight  justify-center">
              Los productos de Mixer nos han permitido brindar un mejor soporte a todos nuestros clientes. La agilidad con la que podemos implementar nuevas funciones y flujos de trabajo es un elemento clave.
                  
                </span>
        </div>
        <div class="card flex flex-col t6 ">
          <div class="flex justify-start ">
              <img class="mb-2" width="80px" height="70px" src={user6} alt="">
              <div class="flex  flex-col m-5">
                   <h1 class="colii font-semibold">Simonns Hodge</h1>
                   <p class="parri">CEO, Credito</p>
              </div>
          </div>
          <span class="flex  parrafo font-extralight  justify-center">
            Somos un restaurante muy concurrido, y roxo les brinda a nuestros clientes una manera fácil de pedir, pagar y recoger su comida para que puedan evitar la fila y evitar el apuro del almuerzo.
                
              </span>
      </div>
      </div>
      </div>
  </section>
  <style>

    
    .parri{
      margin-top: 3px;
      color: rgb(89, 89, 89);
    }
   
    .card{
      background-color:rgb(248, 250, 255); ;
      padding: 2rem;
      width: 390px;
      height: 240px;
      transition: 0.5s ease all;
      
      
      
    }
    .parrafo{
      
      text-align: initial;
        font-size: 12px;
        line-height: 2;
        color: rgb(152, 152, 152);
        
       
    }
     .colo{

color: rgb(192, 192, 192);
}
.colii{
  color:rgb(51, 51, 67);
}
.letra{
  color: rgb(238, 164, 156);
}
.bgrando{
width: 100%;
height: 58rem;
  background-color: rgb(243, 246, 255);
}











.card:hover{
  box-shadow: 2px 2px 3rem rgb(176, 175, 175) ;
  transform:  scale(1.1);

}
.card::after{
  contain: "";
  z-index: 40;
  position: absolute;
  filter: blur(2px);

}
.card:hover::after{
  filter:blur(none)

}








  </style>
  
  